# deps
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# env — JANGAN commit ini
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
npm-debug.log*

# Supabase local dev
.supabase/
.vercel
